<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956556665839-jtm75fd53ndnhbf0l20e2ttphtmf0utv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956556665839-jtm75fd53ndnhbf0l20e2ttphtmf0utv</string>
	<key>API_KEY</key>
	<string>AIzaSyDReGk3If4NCpZQbbT6pmvfqbnD_JhSPL0</string>
	<key>GCM_SENDER_ID</key>
	<string>956556665839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.Firebase.dev</string>
	<key>PROJECT_ID</key>
	<string>signin-5182d</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-5182d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956556665839:ios:503c2d3df404d154aacc1a</string>
</dict>
</plist>